.title {
  text-align: center;
  padding: 30px 0px 40px;
}
.dynamic-title {
  float: none;
  margin: 0 auto;
  display: table;
  width: auto;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
  
span.gold-title {
  font-size: 38px !important;
  margin: -10px 0;
  color: #f5f1e9;
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  font-style: normal;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}
/*@media(max-width: 700px){
  .dynamic-title {
    float: none;
    margin: 0 auto;
    display: table;
    width: auto;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  span.gold-title {
    font-size: 17px !important;
    margin: -10px 0;
    color: #f5f1e9;
  }
}*/
@media(min-width: 330px){
  @media(max-width: 480){
    .dynamic-title {
      float: none;
      margin: 0 auto;
      display: table;
      width: auto;
      font-size: 10px;
      line-height: 10px;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    span.gold-title {
      font-size: 10px !important;
      margin: -10px 0;
      color: #f5f1e9;
    }
  }
}
/*
@media(max-width: 1000px){
  .dynamic-title {
    float: none;
    margin: 0 auto;
    display: table;
    width: auto;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  span.gold-title {
    font-size: 22px !important;
    margin: -10px 0;
    color: #f5f1e9;
  }
}*/